<h2>All Members</h2>
<table border="1">
    <tr>
        <th>Member ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>National ID</th>
        <th>Status</th>
    </tr>
    {% for member in members %}
    <tr>
        <td>{{ member.member_id }}</td>
        <td>{{ member.first_name }} {{ member.last_name }}</td>
        <td>{{ member.phone }}</td>
        <td>{{ member.national_id }}</td>
        <td>{{ member.status }}</td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'add_member' %}">Add New Member</a>
